<!DOCTYPE html>

<h3>Liste des actes :</h3> 

<table>
    <tr>
        <th> Id </th>
        <th> Date </th>
        <th> Heure </th>
    <tr ng-repeat='ac in ctrl.actes'>
        <td> {{ ac.id_acte }} </td>
        <td> {{ ac.date }} </td>
        <td> {{ ac.heure }} </td>
        <td> <a ng-href="#/acte/edit/{{ac.id_acte}}"/> Edit </a>
        <td> <input type="button" value="delete" ng-click="ctrl.delete(ac)"/> 
    </tr>
 
    
</table>

<br/>
   
<a ng-href="#/acte/new"/> Nouvel acte </a>

<br/>

<a href="#/">Liste des admissions</a>
