<!DOCTYPE html>


<form novalidate class="simple-form">
    <h3> Définition du nouvel acte </h3>
   
    Date : <input type="text" ng-model="ctrl.ac.date" /><br />
    Heure : <input type="text" ng-model="ctrl.ac.heure" /><br />
    Admission : <select ng-repeat="ad in ctrl.admission">
        <option> {{ ad.IEP }} - {{ ad.nom_patient }} {{ ad.prenom_patient }} </option>
    </select><br />
    UF : <select ng-repeat="uf in ctrl.uf">
        <option> {{ uf.code_UF }} - {{ uf.nom_UF }} </option>
    </select><br />
    Modalité : <select ng-repeat="mod in ctrl.modalite">
        <option> {{ mod.id_modalite }} - {{ mod.type }} </option>
    </select><br />
    CCAM : <select ng-repeat="ccam in ctrl.ccam">
        <option> {{ ccam.code_CCAM }} </option>
    </select><br />
    <br />
    <input type="submit" ng-click="ctrl.update()" value="Save" />
    
    <div ng-show="ctrl.ac.id">
        Création d'un nouvel acte d'identifiant {{ ctrl.ac.id }} effectuée.
    </div>
    
    <br/>
    
    <a href="#/actes">Retour</a>
</form>